@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  color: theme(colors.jet);
  background-color: theme(colors.green);
}

a {
  color: theme(colors.darkBlue);
  text-decoration: underline;
}

a:visited {
  color: theme(colors.darkRed);
}

p {
  font-size: 1rem;
  text-indent: 1rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-style: italic;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

h6 {
  font-style: italic;
}

.polka-proficient {
  background-color: theme(colors.blue);
  background-image:  radial-gradient(theme(colors.darkBlue) 0.4px, transparent 0.4px), radial-gradient(theme(colors.darkBlue) 0.4px, theme(colors.blue) 0.4px);
  background-size: 16px 16px;
  background-position: 0 0,8px 8px;
}

.polka-familiar {
  background-color: theme(colors.red);
  background-image:  radial-gradient(theme(colors.darkRed) 0.4px, transparent 0.4px), radial-gradient(theme(colors.darkRed) 0.4px, theme(colors.red) 0.4px);
  background-size: 16px 16px;
  background-position: 0 0,8px 8px;
}


.polka-learning {
  background-color: theme(colors.green);
  background-image:  radial-gradient(theme(colors.darkGreen) 0.4px, transparent 0.4px), radial-gradient(theme(colors.darkGreen) 0.4px, theme(colors.green) 0.4px);
  background-size: 16px 16px;
  background-position: 0 0,8px 8px;
}